{% extends 'base.html.twig' %}

{% block title %}Author list{% endblock %}

{% block body %}
    <h1 class="title">Author List</h1>


    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>
                    <a href="{{ path('author_show', {'id': author.id}) }}"><i class="far fa-eye"></i> show</a>
                    <a href="{{ path('author_edit', {'id': author.id}) }}"><i class="far fa-edit"></i> edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('author_new') }}">Create new</a>
{% endblock %}
