{% extends 'base.html.twig' %}

{% block title %}Quotes list{% endblock %}

{% block body %}
    <h1 class="title">Quotes List</h1>

    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Id</th>
                <th>Body</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quote in quotes %}
            <tr>
                <td>{{ quote.id }}</td>
                <td>{{ quote.body }}</td>
                <td>
                    <a href="{{ path('quotes_show', {'id': quote.id}) }}"><i class="far fa-eye"></i> show</a>
                    <a href="{{ path('quotes_edit', {'id': quote.id}) }}"><i class="far fa-edit"></i> edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('quotes_new') }}">Create new</a>
{% endblock %}
